{{ if .IsTranslated }}
{{ range .Translations }}
    <p align="right" style="margin-right: 10px;"> 
    <i class="fa fa-globe"></i>
    <a href ="{{ .Permalink }}" style="">{{ .Lang }} {{ if .IsPage }} {{ end }} </a>
    </p>
 
{{ end}}
{{ end }}